footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: khaki;
    color: black;
    text-align: center;
    height: 80px;
}

#icons {
    float: left;
}

img {
    float: right;
    height: 50px;
    width: 50px;
}