.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    padding-top: 120px;
}

.card>* {
    box-sizing: border-box;
}

.card>*:not(:last-child) {
    margin-right: 20px;
    margin-left: 20px;
}

#example-card {
    height: 400px;
    width: 250px;
    /* margin-inline-start: 20%;
    margin-inline-end: 20%; */
    margin-bottom: 2%;
}

#logo {
    height: 50px;
    width: 50px;
}

img {
    height: 200px;
    width: 100%;
}