img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    margin-right: 1rem;
}

mat-button {
    float: right;
}

mat-toolbar {
    height: 100px !important;
    min-height: 50px !important;
    position: fixed;
    z-index: 1;
    margin-bottom: 700px;
}

app-searchbox {
    margin-left: 50rem;
}

#profile {
    margin-left: 3rem;
}